body {
    --exercise-color: 241, 196, 15;
    --solution-color: 128, 69, 229;
}

div.exercise {
    border-left-color: rgba(var(--exercise-color), 1);
}
div.exercise .admonition-title {
    background-color: rgba(var(--exercise-color), .1);
}
div.exercise .admonition-title:before {
    color: rgba(var(--exercise-color), 1);
}
div.exercise .admonition-title:after {
    color: rgba(var(--exercise-color), 1);
    content: var(--pst-icon-pencil);
}
div.solution {
    border-left-color: rgba(var(--solution-color), 1);
}
div.solution .admonition-title {
    background-color: rgba(var(--solution-color), .1);
}
div.solution .admonition-title:before {
    color: rgba(var(--solution-color), 1);
}
div.solution .admonition-title:after {
    color: rgba(var(--solution-color), 1);
    content: var(--pst-icon-check-circle);
}